.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin-top: 5em;
    margin-left: 0.5em;
}

.cart-container{
    background-color: #FFE0B3;
    text-align: center;
}

/* @media screen and (max-width:1000px) {
    .products-conatiner{
        grid-template-columns: repeat(2,1fr);
    }
} */